{% extends "base.html" %}

{% block title %}
    <title>Blog List</title>
{% endblock title %}

<!-- showing user_name in menu bar -->
{% block show_user%}
{% if request.user.is_authenticated %}
    <tr>Welcome {{request.user}}</tr>
{% endif %}
{% endblock show_user %}

<!-- showing posts -->
{% block post_content %}

    {% if blogs %}
        {% for b in blogs %}
            <div class="well">
                <p>{{ b.title }} <br>----------</p>
                <p>{{ b.content|truncatechars:300 }} </p>
                <p>{{ b.which_user }} {{ b.created_at }} {{ b.id }}</p>

                <a href="/single_post/1" >Read More</a>
            </div>

             <!-- showing comments -->
            {% block comment_content %}
                {% if comments %}
                    {% for c in comments %}
                    <tr>
                        <th>{{ c.id }}</th>
                        <!--<th>{{ c.which_user.id }}</th>-->
                        <th>{{ c.which_user }}</th>
                        <th>{{ c.content }}</th>
                        <th>{{ c.which_post.id }}.posta aittir</th>
                    </tr>
                {% endfor %}
                {% else %}
                    <h2>We couldn't find any comment</h2>
                {% endif %}
            {% endblock comment_content %}
        {% endfor %}
    {% endif %}
{% endblock post_content %}




