{% extends "base.html" %}

{% block title %}
    <title>Blog List</title>
{% endblock title %}

<!-- showing user_name in menu bar -->
{% block show_user%}
{% if request.user.is_authenticated %}
    <tr>Welcome {{request.user}}</tr>
{% else %}
    <tr>Anonim</tr>
{% endif %}
{% endblock show_user %}

<!-- showing posts -->
{% block post_content %}

{% if blogs %}
    {% for b in blogs %}
        <tr>
            <th>{{ b.id }}</th>
            <th>{{ b.which_user }}</th>
            <th>{{ b.title }}</th>
            <th>{{ b.content }}</th>
            <<th>{{ b.created_at }}</th>
        </tr>
    {% endfor %}
{% else %}
    <h2>We couldn't find any blog post</h2>
{% endif %}

{% endblock post_content %}

<!-- showing comments -->
{% block comment_content %}

{% if comments %}
    {% for c in comments %}
        <tr>
            <th>{{ c.id }}</th>
            <!--<th>{{ c.which_user.id }}</th>-->
            <th>{{ c.which_user }}</th>
            <th>{{ c.content }}</th>
            <th>{{ c.which_post.id }}.posta aittir</th>
        </tr>
    {% endfor %}
{% else %}
    <h2>We couldn't find any comment</h2>
{% endif %}

{% endblock comment_content %}
