{% extends "base.html" %}

{% block post_content %}

{% block show_comments %}

{% endblock show_comments %}

    {% block add_comment %}
    <div class="container">
        <form method="POST" action="" class="form-signin" role="form" style="width: 300px">

        <h2 class="form-signin-heading">Add Comment</h2>
        {% for field in form %}
            <input type="{{field.field.widget.input_type}}" name="{{field.html_name}}" class="form-control" placeholder="{{field.label}}" required autofocus>
        {% endfor %}
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
        {% if messages %}
            <ul>
                {% for m in messages %}
                    <li>{{ m }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        </form>

    </div> <!-- /container -->

    {% endblock add_comment %}
{% endblock post_content %}
