{% include "post/single_post.html" with post=post comments=comment %}

{% block post_content %}
    <div class="container">
        <form method="POST" action="" class="form-signin" role="form" style="width: 300px">

        <h2 class="form-signin-heading">Add Comment</h2>
        {% for field in form %}
            <input type="{{field.field.widget.input_type}}" name="{{field.html_name}}" class="form-control" placeholder="{{field.label}}" required autofocus>
        {% endfor %}
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
        <button class="btn btn-lg btn-primary btn-block" type="submit" style="width: 50px">Save</button>
        {% if messages %}
            <ul>
                {% for m in messages %}
                    <li>{{ m }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        </form>
    </div> <!-- /container -->
{% endblock post_content %}
