{% extends "base.html" %}
{% block post_content %}
            <div class="well">
                <p>{{ post.title }} <br>----------</p>
                <p>{{ post.content }} </p>
                <p>{{ post.which_user }} {{ post.created_at }} {{ post.id }}</p>
            </div>

             <!-- showing comments -->
            {% block comment_content %}
                {% if comments %}
                    {% for c in comments %}
                    <tr>
                        <th>{{ c.id }}</th>
                        <!--<th>{{ c.which_user.id }}</th>-->
                        <th>{{ c.which_user }}</th>
                        <th>{{ c.content }}</th>
                        <th>{{ c.which_post.id }}.posta aittir</th>
                    </tr>
                {% endfor %}
                {% else %}
                    <h2>We couldn't find any comment</h2>
                {% endif %}
            {% endblock comment_content %}
{% block edit %}
        <a href="{% url edit_post post.id %}"  class="btn btn-sm btn-success">Edit</a>
        <a href="{% url delete_post post.id %}"  class="btn btn-sm btn-danger">Delete</a>
{% endblock edit %}
{% endblock post_content %}
